ul, #nav {
  	list-style-type: none;
  	width: auto;
}

#nav {
  	height: 50px;
  	background-color: black;
}

#nav a {
	color: white;
	text-decoration: none;
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

#nav li {
	float:left;
	margin-right: 10px;
}

#nav a:hover {
  background-color: #ddd;
  color: black;
}

#nav a.active {
  background-color: #4CAF50;
  color: white;
}

div{
	border: 5px solid black;
	padding: 10px;
}

p, h1, h2, h3, h4, a, image, label{
	padding-left: 20px;
	padding-right: 20px;
}

#form{
	font-size: 20px;
}

.clearfix {
  overflow: auto;
  background-color: white;
  margin-bottom: 10px;
}

.img {
  float: right;
}

#name{
	background-color: grey;
}

#desc{
	clear:right;
	color:black;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 20px;
	text-align: center;
}